@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    background-color: black;
}

:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgba(255, 255, 255, 0.5);
    --unique-color: rgb(230, 83, 60);
}

/* google font --> inter */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* miama font */
.miama-font{
    font-family: 'Miama', sans-serif;  
    /* font-size: 4.5rem; */
    font-size: 5.134vw;
    font-weight: 400;                                            
}

/* shared styles */

.display-flex{
    display: flex;
}

/* navigation bar styles */
header{
    /* background-color: black; */
    background: linear-gradient(to bottom, #000000, #434343, #000000);
}

.nav-section{
    /* max-width: 66.25rem; */
    /* width: 80%; */
    max-width: 80vw;
    /* border: 2px solid red; */
    /* border: 0.132vw solid red; */
    padding-top: 2.633vw;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    /* gap: 200px; */
}

.nav-items{
    border: 0.05vw solid rgba(255, 255, 255, 0.1);
    /* border: 2vw solid red; */
    border-radius: 2.528vw;
    padding: 0.527vw;
    list-style: none;
    gap: 3.094vw;
    align-items: center;
    font-size: 1.185vw;
    color: var(--primary-color);
}

.nav-title{
    font-size: 2.37vw;
    font-weight: 800;
    color: var(--unique-color);
    font-style: italic;
}

.fa-solid.fa-bars.fa-2xl{
    /* display: none; */
    visibility: hidden;
}

.nav-btn{
    background-color: var(--unique-color);
    font-family: "Inter", sans-serif;
    font-size: 1.185vw;
    font-weight: 400;
    color: var(--primary-color);
    /* width: 92px;
    height: 38px; */
    padding: 0.527vw 1.316vw;
    border-radius: 3rem;
    border: none;
}

.nav-banner-content-btn{
    margin-top: 1vw;
}
.nav-content-btn-1{
    background-color: var(--unique-color);
    border: none;
    color: var(--primary-color);
    padding: 0.658vw 1.975vw;
    border-radius: 2.106vw;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 1.185vw;
}

.nav-content-btn-2{
    background-color: black;
    border: 0.02vw solid rgb(255, 255, 255);
    color: var(--primary-color);
    padding: 0.658vw 1.975vw;
    margin-left: 0.658vw;
    border-radius: 2.106vw;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 1.185vw;
}

.nav-banner-content h1,p,div{
    padding-top: 1.053vw;
}

.nav-banner-content h1{
    /* font-size: 4.5rem; */
    font-size: 5.134vw;
    font-weight: 900;
    color: var(--primary-color);
}

.nav-banner-content p{
    color: var(--secondary-color);
    font-size: 1.053vw;
}

/* .nav-banner-content span{
    
} */

.nav-banner{
    justify-content: space-between;
    align-items: center;
}

.nav-banner-img{
    background-image: url(../images/Images2.png);
    width: 22.97vw;
    height: 38.178vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.tutorial-btn{
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border: 0.066vw solid rgb(75, 73, 73);
    /* border: none; */
    /* width: 12rem; */
    width: 12.638vw;

    /* height: 6rem; */
    /* height: 9.6vh; */
    height: 6.319vw;
    border-radius: 0.79vw;
    background: rgba(48, 48, 48, 0.54);
    /* opacity: 0.10; */
    /* filter: opacity(50%); */
    backdrop-filter: blur(0.658vw);
    color: var(--primary-color);
    position: relative;
    /* top: 150px; */
    /* top: 25.2rem; */
    top: 26.54vw;
    /* left: -6.25rem; */
    left: -6.582vw;
    /* left: 47.75rem; */
    /* justify-content: space-evenly; */
    justify-content: space-evenly;
    align-items: center;
    /* gap: 2px; */
    padding: 0;
}

.tutorial-btn-circle{
    /* width: 40px; */
    width: 2.633vw;
    /* height: 40px; */
    height: 2.633vw;
    border-radius: 50%;
    background-color: var(--unique-color);
}
.tutorial-btn-circle > i{
    /* position: relative;
    left: 14px;
    top: -5px; */
    visibility: hidden;
}
.tutorial-btn-text{
    /* border: 2px solid red; */
    /* min-width: fit-content; */
    /* height: fit-content; */
    padding: 0;
    /* margin: 0; */
    /* gap: none; */
}

.tutorial-btn-text > p{
    /* margin-top: 0px; */
    padding-top: 0.329vw;
    color: rgba(239, 237, 232, 0.65);
    font-size: 1.053vw;
    font-weight: 400;
}

.tutorial-btn-text > h3{
    padding-top: 0;
    font-size: 1.58vw;
    font-weight: 900;
}

.free-workout-videos{
    width: 12.507vw;
    height: 6.451vw;   
    border: 0.05vw solid rgba(255, 255, 255, 0.1);
    border-radius: 0.79vw;
    backdrop-filter: blur(1.316vw);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    left: 14.481vw;
    top: 1.316vw;
    /* flex-direction: column; */
    /* padding: 20px; */
    /* margin: 0; */
    padding-top: 0.79vw;
    padding-left: 1.975vw;
    padding-right: 1.975vw;
    /* padding-bottom: 10px; */
    /* justify-content: center; */
    /* align-items: center; */

}

.free-workout-videos > h2{
    color: var(--primary-color);
    font-size: 2.633vw;
    font-weight: 900;
    padding-top: 0;
    /* margin-top: 0; */
}

.free-workout-videos > p{
    color: var(--secondary-color);
    font-size: 0.79vw;
    font-weight: 400;
    padding-top: 0;
}
/* nav section ends here */

/* change your habit section starts here */
.habit-section{
    max-width: 80vw;
    /* height: 29vw; */
    /* border: 0.05vw solid red; */
    margin: 0 auto;
}

/* habit-header section starts here */
.habit-header{
    width: 45vw;
    /* height: 7.9vw; */
    /* border: 0.05vw solid red; */
    margin: 0 auto;
    text-align: center;
}
.habit-header > h3{
    color: var(--primary-color);
    font-size: 3.15vw;
    font-weight: 900;
}
.habit-header > p{
    color: var(--secondary-color);
    font-size: 0.91vw;
    font-weight: 400;
    /* line-break:; */
    padding-top: 0.9vw;
}
/* habit header section ends here */

/* habit-rules section starts here */
.habit-rules{
    /* border: 2px solid red; */
    padding-top: 2.633vw;
    /* height: 100vw; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.633vw;
    /* justify-content: space-between; */
    /* align-content: space-between; */
}
.habit-rules h3{
    color: var(--primary-color);
    text-align: center;
    font-size: 1.185vw;
    font-weight: 600;
    padding-top: 1.7vw;
}
.habit-rules p{
    color: var(--secondary-color);
    text-align: center;
    font-size: 0.922vw;
    padding-top: 0.395vw;
    line-height: 1.185vw;
}
.habit-rule-1{
    /* width: 15.205vw; */
    /* height: 18.036vw; */
    height: 20.036vw;
    /* border: 0.03vw solid red; */
}
.habit-rule-1 > img{
    width: 11.848vw;
    height: 11.848vw;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.habit-rule-2{
    /* width: 15.205vw; */
    /* height: 18.036vw; */
    height: 20.036vw;
    /* border: 0.03vw solid red; */
}
.habit-rule-2 > img{
    width: 11.848vw;
    height: 11.848vw;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.habit-rule-3{
    /* width: 15.205vw; */
    /* height: 18.036vw; */
    height: 20.036vw;
    /* border: 0.03vw solid red; */
}
.habit-rule-3 > img{
    width: 11.848vw;
    height: 11.848vw;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.habit-rule-4{
    /* width: 15.205vw; */
    /* height: 18.036vw; */
    height: 20.036vw;
    /* border: 0.03vw solid red; */
}
.habit-rule-4 > img{
    width: 11.848vw;
    height: 11.848vw;
    display: block;
    margin: 0 auto;
    /* border-radius: 32.912vw; */
    border-radius: 50%;
}
/* habit-rules section ends here */

/* run section starts here */
.run-section{
    max-width: 80vw;
    /* height: 24.421vw; */
    height: 28.421vw;
    /* border: 0.05vw solid red; */
    border-radius: 1.185vw;
    margin: 0 auto;
    background-color: #222222;
    margin-top: 5.266vw;
    justify-content: space-around;
    align-items: center;
    gap: 10.861vw;
}
/* run content section starts here */
.run-content{
    width: 29.16vw;
    height: 22.089vw;
    /* border: 0.03vw solid red; */
    /* color: var(--primary-color); */
}
.run-content > h1{
    color: var(--primary-color);
    font-size: 3.16vw;
    font-weight: 900;
}
.run-content > p{
    color: var(--secondary-color);
    font-size: 0.922vw;
    line-height: 1.58vw;
}
.run-content > button{
    color: var(--primary-color);
    font-size: 1.185vw;
    font-weight: 600;
    border: none;
    background-color: var(--unique-color);
    width: 14.745vw;
    height: 3.555vw;
    border-radius: 2.765vw;
    margin-top: 1.58vw;
}
/* run content section ends here */

.run-image > img{
    width: 24.092vw;
    height: 20.537vw;
    border-radius: 1.185vw;
}

/* run section ends here */

/* bmi calculator section starts here */
.bmi-calculator-description{
    max-width: 40vw;
    margin: 0 auto;
    margin-top: 1.316vw;
    /* margin: 0 auto; */
}
.bmi-calculator-description > h1{
    color: var(--primary-color);
    font-size: 3.16vw;
    font-weight: 900;
    /* text-align: center; */
}
.bmi-calculator-description > p{
    color: var(--secondary-color);
    font-size: 0.922vw;
    /* text-align: center; */
}
.bmi-calculator-measurement{
    max-width: 100vw;
    height: 30vw;
    background-color: #222222;
    margin-top: 3.949vw;
    justify-content: space-evenly;
    /* align-items: center; */
}
.bmi-calculator-chart > h3{
    color: var(--primary-color);
    font-size: 1.843vw;
    font-weight: 900;
    /* text-align: center; */
}
.table{
    /* width: 20.405vw; */
    width: 25vw;
    /* height: 14.218vw; */
    height: 18vw;
    text-align: center;
    margin-top: 3.291vw;
}
th{
    color: var(--primary-color);
    font-size: 1.053vw;
    font-weight: 500;
}
td{
    color: var(--secondary-color);
    font-size: 0.922vw;
}
table, th, td{
    border: 0.066vw solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.calculate-your-bmi > h3{
    color: var(--primary-color);
    font-size: 1.843vw;
    font-weight: 900;
}
.calculate-your-bmi > p{
    color: var(--secondary-color);
    font-size: 0.922vw;
    line-height: 1.58vw;
}

/* from section starts here */
.bmi-form{
    margin-top: 1.316vw;

}
.input{
    width: 18.431vw;
    height: 3.16vw;
    margin-top: 0.79vw;
    border-radius: 0.527vw;
    padding-left: 0.658vw;
    font-size: 1.053vw;
    border: none;
    border-right: 1.053vw solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
    
    /* color: var(--secondary-color); */
    /* padding-right: 50px; */
}
#weight{
    margin-left: 0.329vw;
}
#gender{
    color:#6f6e6e;
    margin-left: 0.329vw;
}
#factors{
    /* width: 37.52vw; */
    width: 37.981vw;
    height: 3.16vw;
    border-radius: 0.527vw;
    background-color: rgba(255, 255, 255, 0.1);
    color:#6f6e6e;
    border: none;
    border-right: 1.053vw solid transparent;
    padding-left: 0.658vw;
    font-size: 1.053vw;
}

.bmi-calcutale-button{
    width: 14.745vw;
    height: 3.555vw;
    font-size: 1.185vw;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--unique-color);
    border-radius: 2.765vw;
    border: none;
    margin-top: 1.646vw;
}
/* from section ends here */

/* team section starts here */
.team-content{
   max-width: 80vw;
   margin: 0 auto;
   margin-top: 2.633vw;
}
.team-content h1{
    color: var(--primary-color);
    text-align: center;
    font-size: 3.16vw;
    font-weight: 900;
}
.team-content p{
    color: var(--secondary-color);
    font-size: 0.922vw;
    text-align: center;
}

/* trainer section starts here */
.trainers-information{
    max-width: 80vw;
    /* height: 45vw; */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.185vw;
    margin: 0 auto;
    margin-top: 3.818vw;
}
.all-trainers{
    padding-top: 1.975vw;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
    /* justify-content: space-evenly; */
    justify-items: center;
    /* align-items: center; */
    align-content: center;
}
.trainer > img{
   width: 22.503vw; 
   /* width: 100%; */
   height: 17.904vw;
   border-radius: 1.185vw;
   /* border-radius: 18px; */
}

.trainer-name{
  position: relative;
  top: -4.739vw;
  left: 0.987vw;
}

.trainer-name > h3{
    color: var(--primary-color);
    font-size: 1.185vw;
}

.trainer-name > p{
    color: var(--secondary-color);
    font-size: 0.922vw;
    padding-top: 0.3vw;
}
/* trainer section end here */

/* consultration section starts here */
.free-consultration{
    max-width: 80vw;
    height: 30vw;
    margin: 0 auto;
    margin-top: 5vw;
    border-radius: 1.185vw;
    background-color: rgba(255, 255, 255, 0.1);
}
.consultration-heading{
    padding-top: 3vw;
    color: antiquewhite;
    text-align: center;
    font-weight: 800;
    /* font-weight: 600; */
    font-size: 6vw;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.consultation-msg{
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.053vw;
    padding-top: 5px;
}
.user-information{
    width: 60vw;
    height: 10vw;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.user-data{
    width: 17.773vw;
    height: 3.291vw;
    /* border: 1px solid red; */
    margin-top: 1.185vw;
    color: var(--secondary-color);
    padding-left: 0.987vw;
    border-radius: 0.79vw;
    font-size: 1.053vw;
    /* background-color: var(--unique-color); */
    background-color: #434343;
}

.consultration-request{
    width: 9.874vw;
    height: 3.5vw;
    border-radius: 0.658vw;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -1.975vw;
    color: var(--secondary-color);
    background-color: #434343;
    border: none;
    font-size: 1.316vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;   
}
/* consultration section ends here */

/* footer section starts here */
footer{
    /* max-width: 100vw;
    height: 32.254vw;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5.949vw; */
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 100vw;
}
.footer-section{
    max-width: 100vw;
    height: 32.254vw;
    /* background-color: rgba(255, 255, 255, 0.1); */
    margin-top: 5.949vw;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.footer-title{
    width: 29.16vw;
    height: 11.585vw;
}
.footer-title > h3{
    color: var(--unique-color);
    font-style: italic;
    font-size: 3.949vw;
    font-weight: 800;
}

.footer-title > p{
    color: var(--secondary-color);
    /* font-size: 0.922vw; */
    font-size: 1.053vw;
    line-height: 1.58vw;
}
.footer-contacts{
    /* width: 11.914vw;
    height: 16.39vw; */
}
.footer-contacts > h3{
    color: var(--primary-color);
    font-size: 2.106vw;
    font-weight: 700;
}
.footer-contacts > p{
    color: var(--secondary-color);
    font-size: 1.316vw;
}
.footer-services{
    /* width: 11.914vw;
    height: 16.39vw; */
}
.footer-services > h3{
    color: var(--primary-color);
    font-size: 2.106vw;
    font-weight: 700;
}
.footer-services > p{
    color: var(--secondary-color);
    font-size: 1.316vw;
}
.hr-line{
    width: 80vw;
    margin: 0 auto;
    border-top: 0.132vw solid #FFFFFF1A;
    position: relative;
    top: -9.215vw;
}
.copywrite{
    text-align: center;
    font-size: 1.316vw;
    color: var(--secondary-color); 
    position: relative; 
    top: -6.582vw;
}
/* footer section ends here */

@media screen and (max-width: 576px){
    .nav-section{
        /* max-width: 66.25rem; */
        /* width: 80%; */
        max-width: 80vw;
        /* border: 2px solid red; */
        /* border: 0.132vw solid red; */
        padding-top: 5.208vw;
        /* margin: 0 auto; */
        border: none;
    }
    .nav-title{
        font-size: 6.25vw;
        /* font-weight: 800; */
        /* color: var(--unique-color);
        font-style: italic; */
    }
    .nav-items{
        /* visibility: hidden; */
        display: none;
    }
    .fa-solid.fa-bars.fa-2xl{
        visibility: visible;
    }
    .nav-banner{
        flex-direction: column;
        align-items: start;
    }
    .nav-banner-content h1{
        font-size: 8.333vw;
        /* border: 1px solid red; */
        width: 285px;
        /* height: 129px; */
        /* text-align: justify; */
        /* font-weight: 900; */
    }
    .nav-banner-content span{
        font-size: 15.333vw;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.087vw;
        /* word-spacing: 500px; */
    }
    .nav-banner-content p{
        width: 47.917vw;
        height: 16.667vw;
        font-size: 2.778vw;
        /* font-weight: 400; */
        line-height: 4.167vw;
        letter-spacing: 0.087vw;
        /* text-align: left; */
    }
    .nav-banner-content-btn{
        padding-top: 4.861vw;
        display: flex;
        justify-content: space-between;
        gap: 2vw;
    }
    .nav-content-btn-1{
        width: 40.34vw;
        /* height: 10.375vw; */
        background-color: var(--unique-color);
        border: none;
        color: var(--primary-color);
        padding: 2.778vw 6.944vw;
        border-radius: 7.292vw;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-size: 3.125vw;
    }
    
    .nav-content-btn-2{
        width: 40.34vw;
        background-color: black;
        border: 0.174vw solid rgb(255, 255, 255);
        color: var(--primary-color);
        padding: 2.778vw 6.944vw;
        /* margin-left: 2.431vw; */
        /* margin-left: 16px; */
        border-radius: 7.292vw;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-size: 3.125vw;
    }
    .nav-banner-img{
        /* background-position: center; */
        margin: 0 auto;
        width: 61.285vw;
        /* width: 80vw; */
        /* height: 102.083vw; */
        height: 87vw;
        /* padding-left: 10px; */
    }
    .tutorial-btn{
        width: 27.038vw;
        height: 12.601vw;
        top: 280px;
        border: 0.132vw solid rgba(255, 255, 255, 0.1);
        border-radius: 1.575vw;
        backdrop-filter: blur(2.625vw);    
    }
    /* .tutorial-icon{
        width: 30.24px;
        height: 30.24px;
        border-radius: 50%;
        background-color: var(--unique-color);
    } */
    .tutorial-btn-circle{
        /* width: 5.25vw; */
        width: 30.24px;
        /* height: 5.25vw; */
        height: 30.24px;
        border-radius: 50%;    
        /* visibility: hidden; */
    }
    .tutorial-btn-circle > i{
        visibility: visible;
        /* margin: 0 auto; */
        position: relative;
        /* left: 1.9vw; */
        left: 11px;
        /* padding-left: 11px; */
        /* top: -0.134vw; */
        /* top: 0px; */
        top: 1px;
        /* padding-top: 3px; */
    }
    .tutorial-btn-text > h3{
        padding-top: 0;
        font-size: 3.149vw;
        font-weight: 900;
        color: var(--primary-color);
    }
    .tutorial-btn-text > p{
        /* margin-top: 0px; */
        padding-top: 0.868vw;
        color: var(--secondary-color);
        font-size: 2.101vw;
        font-weight: 400;
    } 
    .free-workout-videos{
        /* width: 33.507vw; */
        width: 27.038vw;
        /* height: 17.014vw; */
        height: 12.601vw;
        position: relative;
        left: 33.25vw;
        top: -2vw;
        border: 0.174vw solid rgba(255, 255, 255, 0.1);
        border-radius: 2.083vw;
        backdrop-filter: blur(3.472vw);
        padding-top: 1.30vw;
        padding-left: 3.208vw;
        padding-right: 2.208vw;
    }    
    .free-workout-videos > h2{
        font-size: 4.944vw;
    }
    .free-workout-videos > p{
        font-size: 2.083vw;
        
    }

    /* change your habit-section starts here */
    .habit-section{
        padding-top: 0;
        /* border: none; */
    }

    /* habit header section starts here */
    .habit-header{
        width: 55vw;
        /* height: 21.528vw; */
        /* height: 7.9vw; */
        /* border: 0.05vw solid red; */
        /* margin: 0 auto; */
        text-align: center;
        /* text-align:left; */
        /* text-decoration: none; */ 
        /* border: none; */
        padding-top:0;
    }
    .habit-header > h3{
        color: var(--primary-color);
        font-size: 5.55vw;
        text-wrap: nowrap;
        padding-top: 0;
    }
    .habit-header > p{
        color: var(--secondary-color);
        padding-top: 2.431vw;
        font-size: 2.431vw;
        line-height: 4.167vw;
        /* line-break:auto; */
    }
    /* header header section ends here */

    /* habit rules section starts here */
    .habit-rules{
        grid-template-columns: repeat(1, 0.5fr);
        /* column-gap: 0; */
        /* align-items: center;
        justify-items: center; */
        justify-content: center;
        row-gap: 6.944vw;
        padding-top: 7.944vw;
        /* height: 100vw; */
    }
    .habit-rule-1,.habit-rule-2,.habit-rule-3,.habit-rule-4{
        /* width: 40.104vw; */
        height: 45.944vw;
        /* justify-self: center; */
        /* border: 0.03vw solid red; */
    }
    .habit-rules img{
        height: 31.25vw;
        width: 31.25vw;
    }
    .habit-rules h3{
        color: var(--primary-color);
        text-align: center;
        font-size: 3.125vw;
        font-weight: 600;
        padding-top: 4.514vw;
    }
    .habit-rules p{
        color: var(--secondary-color);
        text-align: center;
        font-size: 2.431vw;
        font-weight: 400;
        padding-top: 1.5vw;
        line-height: 3.125vw;
        /* text-wrap: wrap; */
    }
    /* habit rules section ends here */

    /* run section starts here*/
    .run-section{
        /* flex: none; */
        height: 94.188vw;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .run-content{
        width: 65vw;
        height: 17.378vw;
        padding-top: 0;
        padding-left: 3.472vw;
        /* margin: 0 auto; */
        /* border: 0.03vw solid red; */
        /* color: var(--primary-color); */
    }
    .run-content > h1{
        color: var(--primary-color);
        font-size: 5.556vw;
        font-weight: 900;
        padding-top: 5.382vw;
    }
    .run-content > p{
        color: var(--secondary-color);
        font-size: 2.431vw;
        font-weight: 400;
        line-height: 4.167vw;
        padding-top: 2.431vw;
        /* text-align: justify; */
    }
    .run-content > button{
        color: var(--primary-color);
        font-size: 3.125vw;
        font-weight: 600;
        border: none;
        background-color: var(--unique-color);
        width: 56.826vw;
        height: 9.375vw;
        border-radius: 7.292vw;
        margin-top: 4.167vw;
    }
    .run-image > img{
        display: none;
    }
    .run-image{
        background-image: url(../images/run.jpg);
        /* width: 49.826vw; */
        width: 56.826vw;
        height: 29.514vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 3.125vw;
        margin-left: 0.8vw;
        position: relative;
        top: 32.042vw;
        /* left: -0.5px; */
    }
    /* bmi calculator section starts here */

    .bmi-calculator-description{
        max-width: 80vw;
        margin: 0 auto;
        margin-top: 3.472vw;
        /* margin: 0 auto; */
    }
    .bmi-calculator-description > h1{
        color: var(--primary-color);
        font-size: 5vw;
        font-weight: 900;
        /* text-align: center; */
    }
    .bmi-calculator-description > p{
        color: var(--secondary-color);
        font-size: 2.431vw;
        /* text-align: center; */
    }

    .bmi-calculator-measurement{
        height: 135vw;
        flex-direction: column;
        padding-left: 11vw;
        /* align-items: center; */
    }

    .bmi-calculator-chart > h3{
        color: var(--primary-color);
        font-size: 3.778vw;
        font-weight: 900;
        /* text-align: center; */
    }
    .table{
        /* width: 20.405vw; */
        width: 53.819vw;
        /* height: 14.218vw; */
        height: 37.5vw;
        text-align: center;
        margin-top: 3.291vw;
    }
    th{
        color: var(--primary-color);
        /* font-size: 1.053vw; */
        font-size: 2.778vw;
        font-weight: 500;
    }
    td{
        color: var(--secondary-color);
        /* font-size: 0.922vw; */
        font-size: 2.431vw;
    }
    table, th, td{
        border: 0.066vw solid rgba(255, 255, 255, 0.1);
        border-collapse: collapse;
    }
    
    .calculate-your-bmi > h3{
        color: var(--primary-color);
        /* font-size: 1.843vw; */
        font-size: 4vw;
        font-weight: 900;
    }
    .calculate-your-bmi > p{
        color: var(--secondary-color);
        /* font-size: 0.922vw; */
        font-size: 3.4vw;
        line-height: 3.58vw;
        padding-top: 3vw;
        /* text-wrap: wrap; */
    }
    
    /* from section starts here */
    .bmi-form{
        margin-top: 3.316vw;
    
    }
    .input{
        /* width: 18.431vw; */
        width: 29.601vw;
        /* height: 3.16vw; */
        height: 8.333vw;
        margin-top: 2.79vw;
        /* border-radius: 0.527vw; */
        border-radius: 1.389vw;
        padding-left: 1.658vw;
        font-size: 2.778vw;
        border: none;
        border-right: 2.053vw solid transparent;
        background-color: rgba(255, 255, 255, 0.1);
        
        /* color: var(--secondary-color); */
        /* padding-right: 50px; */
    }
    #weight{
        margin-left: 1.329vw;
    }
    #gender{
        color:#6f6e6e;
        margin-left: 1.329vw;
    }
    #factors{
        /* width: 37.52vw; */
        /* width: 37.981vw; */
        width: 61.285vw;
        /* height: 3.16vw; */
        height: 8.333vw;
        border-radius: 1.527vw;
        background-color: rgba(255, 255, 255, 0.1);
        color:#6f6e6e;
        border: none;
        border-right: 2.053vw solid transparent;
        padding-left: 1.658vw;
        font-size: 2.778vw;
        margin-top: 2vw;
    }
    
    .bmi-calcutale-button{
        /* width: 14.745vw; */
        width: 38.889vw;
        /* height: 3.555vw; */
        height: 9.375vw;
        font-size: 3.125vw;
        font-weight: 600;
        color: var(--primary-color);
        background-color: var(--unique-color);
        /* border-radius: 2.765vw; */
        border-radius: 7.292vw;
        border: none;
        margin-top: 4.646vw;
    }
 /* bmi calculator section ends here */
 
    
/* trainer section starts here */

    .team-content h1{
        /* color: var(--primary-color); */
        /* text-align: center; */
        font-size: 5.556vw;
        /* font-weight: 900; */
    }
    .team-content p{
        /* color: var(--secondary-color); */
        font-size: 2.431vw;
        line-height: 3.167vw;
        /* text-align: center; */
    }

    .all-trainers{
        padding-top: 5.208vw;
        display: grid;
        /* grid-template-columns: auto auto auto; */
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(1, 1fr); */
        /* justify-content: center; */
        /* justify-items: center; */
        /* align-items: center; */
        /* align-content: center; */
    }
    
    .trainer > img{
       width: 54.34vw; 
       height: 47.222vw;
       border-radius: 3.125vw;
    }

    #trainer-1, #trainer-4{
        display: none;
    }
    
    .trainer-name{
      position: relative;
      top: -12vw;
      left: 5vw;
    }
    
    .trainer-name > h3{
        /* color: var(--primary-color); */
        font-size: 3.125vw;
    }
    
    .trainer-name > p{
        /* color: var(--secondary-color); */
        font-size: 2.431vw;
        padding-top: 0.3vw;
    }

    /* free consultration section starts here */
    .free-consultration{
        height: 70vw;
    }
    .consultration-heading{
        color: antiquewhite;
        text-align: center;
        font-weight: 800;
        /* font-weight: 600; */
        font-size: 8vw;
    }
    .consultation-msg{
        color: var(--secondary-color);
        text-align: center;
        /* font-size: 1.053vw; */
        font-size: 2vw;
        padding-top: 5px;
        margin: 0 auto;
    }
    .user-information{
        flex-direction: column;
        align-items: center;
    }
    .user-data{
        /* width: 17.773vw; */
        width: 40.773vw;
        /* height: 3.291vw; */
        height: 20.291vw;
        /* border: 1px solid red; */
        /* margin-top: 1.185vw; */
        margin-top: 2vw;
        color: var(--secondary-color);
        padding-left: 0.987vw;
        padding-bottom: 0.98vw;
        border-radius: 0.79vw;
        /* font-size: 1.053vw; */
        font-size: 3vw;
        /* background-color: var(--unique-color); */
        background-color: #434343;
    }
    
    .consultration-request{
        /* width: 9.874vw; */
        width: 18vw;
        /* height: 3.5vw; */
        height: 8vw;
        border-radius: 0.658vw;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 18vw;
        color: var(--secondary-color);
        background-color: #434343;
        /* background: var(--unique-color); */
        border: none;
        /* font-size: 1.316vw; */
        font-size: 3vw;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
        'Lucida Sans', Arial, sans-serif;   
    }

    /* footer section starts here */
    /* footer{
        height: 160vw;
        max-width: 80vw;
    } */
    .footer-section{
        padding-top: 0;
        height: 160vw;
        /* margin-top: 0; */
        flex-direction: column;
    }
    .footer-title{
        width: 54.514vw;
        /* height: 0; */
        /* padding-top: 0; */
        /* padding-bottom: 0; */
        position: relative;
        top: -8.417vw;
        padding-left: 12.153vw;
    }
    .footer-title > h3{
        padding-bottom: 2.778vw;
        color: var(--unique-color);
        font-style: italic;
        /* font-size: 10.417vw; */
        font-size: 12.153vw;
        font-weight: 800;
    }
    
    .footer-title > p{
        color: var(--secondary-color);
        /* font-size: 0.922vw; */
        font-size: 2.778vw;
        line-height: 4.167vw;
        /* text-wrap: nowrap; */
        /* overflow:; */
    }
    .footer-contacts{
        /* width: 11.914vw;
        height: 16.39vw; */
        position: relative;
        top: 8.417vw;
        padding-left: 12.153vw;
    }
    .footer-contacts > h3{
        color: var(--primary-color);
        font-size: 5.556vw;
        font-weight: 700;
        padding-bottom: 3.472vw;
    }
    .footer-contacts > p{
        color: var(--secondary-color);
        font-size: 3.993vw;
        line-height: 6.944vw;
        /* line-height: 50px; */
    }
    .footer-services{
        /* width: 11.914vw;
        height: 16.39vw; */
        position: relative;
        /* top: 15.417vw; */
        /* top: 0.417vw; */
        /* top: -0.1px; */
        top: 0.153vw;
        bottom: -8.681vw;
        padding-left: 12.153vw;
        
    }
    .footer-services > h3{
        color: var(--primary-color);
        font-size: 5.556vw;
        font-weight: 700;
        padding-bottom: 3.472vw;
    }
    .footer-services > p{
        color: var(--secondary-color);
        font-size: 3.993vw;
        line-height: 6.944vw;
    }
    .hr-line{
        width: 80vw;
        /* width: 61.458vw; */
        /* margin: 0 auto; */
        /* margin: 80px; */
        /* margin-left: 20px; */
        border-top: 0.347vw solid #FFFFFF1A;
        position: relative;
        /* top: -9.215vw; */
        top: -8vw;
        left: 2.257vw;
    }
    .copywrite{
        /* text-align: center; */
        /* text-align: left; */
        font-size: 3.472vw;
        color: var(--secondary-color); 
        position: relative; 
        top: -6.582vw;
        /* top: -17.361vw; */
        left: -10.417vw;
        /* left: -40px; */
        /* left: 60px; */
    }
}



